doctype html
html
  head
    meta(charset='utf-8')
    title Get Weather
    link(rel='stylesheet', href='/css/style.css')
  body
    form(method='post', action='/')
      input(name='zip', type='text', placeholder='zip code', autofocus=true)
      button Get Weather

